<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            flex-direction: column;
        }
        button{
            background-color: maroon;
            padding: 6px 8px;
            border: none;
            outline: none;
            border-radius: 5px;
            margin-top: 15px;
        }
        a{
            color: white;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div>
        <h1 style="color: maroon">Hello. This is Index Page.</h1>

        <button><a href="about">About</a></button>
        <button><a href="services">Services</a></button>
        <button><a href="contact">Contact Us!</a></button>
    </div>
</body>
</html>